body {
    font-family: 'Berlin sans FB', 'Trebuchet MS', Arial;
    border: 1px solid #424580;
}

.size30 {
    font-size: 30px;
}

.size20 {
    font-size: 20px;
}

.colorBlueDark {
    color: #283645;
}

.colorBlueLight {
    color: #1490D7;
}

.colorOrange {
    color: #ff8000;
}

.colorWhite {
    color: white;
}

.text-center {
    text-align: center;
}

.bg-colorBlue3 {
    background-color: #424580;
}

h2 {
    padding: 0px;
    margin: 30px 0px;
}

.borderBottomDark {
    border-bottom: 1px solid #424580;
}

.gauche {
    float: left;
}

.clear {
    clear: both;
}

/*
* Header
*/

.header {
    display: flex;
    align-items: center;
    text-align: center;
}

.header .photoPerso, .header .infoPerso {
    width: 33.3%;
}

.header .posteRecherche {
    flex: auto;
}

img {
    width: 200Px;
}

/**
* FIN Header
**/

/**
* Footer
*/

.footer {
    padding: 10px;
    margin-top: 50px;
}

/**
* FIN Footer
**/

/**
* Corps
*/

.corps {
    padding: 0% 2%;
}

.domaineCompetence table {
    width: 100%;
}

.domaineCompetence table td, .domaineCompetence table th {
    padding: 10px 20px;
    border: 1px solid #424580;
    width: 33%;
}

.col1 {
    width: 20%;
}

.col2 {
    width: 80%;
}

label {
    display: block;
    width: 20%;
    float: left;
    text-align: right;
    padding-right: 20px;
}

.butonContact {
    margin-left: 21%;
    width: 200px;
}

.bg-colorBlueLight {
    background-color: #1490D7;
}

/**
* FIN Corps
**/

@media (max-width: 768px) {
    .size30 {
        font-size: 22px;
    }
    .size20 {
        font-size: 14px;
    }
    .col1 {
        width: 30%;
    }
    .col2 {
        width: 70%;
    }
    .header .photoPerso img{
        /* height: 100px; */
        width: 70%;
    }
}

@media (min-width: 769px) and (max-width: 1300px) {
    .col1 {
        width: 35%;
    }
    .col2 {
        width: 65%;
    }
}